body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color:#80cee1;
}

#game-container {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.card {
    width: 100px;
    height: 100px;
    margin: 10px;
    display: inline-block;
    background-color: white;
    cursor: pointer;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
}

.card.flipped {
    background-color: #fff;
}

#board {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 10px; 
    margin: 20px;
}

.card {
    width: 100px; 
    height: 100px; 
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em; 
    cursor: pointer;
}

.card.flipped {
    background-color: #fff; 
}


button{
    border: solid 1px blue;
    border-radius: 20px;
    color: white;
    background-color: blue;
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
}

button:hover{
    background-color: blue;
    color: white;
    transform: scale(1.2)
}

#result{
    border-color: blue
}